[Unit]
Description=garlic-damon for digital signage
After=network.taget

[Service]
Type=simple
ExecStart=/usr/bin/garlic-daemon --config /etc/garlic-daemon/garlic-daemon.conf
ExecReload=/bin/kill -HUP $MAINPID
User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=garlic-daemon

[Install]
WantedBy=multi-user.target
